<!DOCTYPE html>
{% load staticfiles %}
{% load tag_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <style>
    html, body {
    height: 100%;
    }

    html {
    display: table;
    margin: auto;
    }

    body {
    display: table;
    vertical-align: middle;
    font-family: Verdana;
    }
    .card {
    font-size: 1.5rem;
    font-weight: 600;
    }
    p {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 15px;
    }
</style>
</head>
<body>
<div class="Wroclaw Korzeniowskiego">
    <div class="card text-center">
        <div class="card-header">
            Wrocław Korzeniowskiego
        </div>
        <div class="card-body">
        {% for key, value in result_korzeniowskiego.items %}
            {% if key != 'update' and key != 'name' %}
                <p class="card-text" style="background-color:{% my_tag key value 'color' %};">{% my_tag key value 'disc' %} - {{value}} µg/m<sup>3</sup> {% my_tag key value 'quality' %} </p>
            {% endif %}
        {% endfor %}
        </div>
        {% for key, value in result_korzeniowskiego.items %}
            {% if key == 'update' %}
            <div class="card-footer text-muted">
                Aktualizacja: {{value|time}}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="Wroclaw Powstancow" style="margin-top: 20px;">
    <div class="card text-center">
                <div class="card-header">
                    Wrocław Powstańców Śląskich
                </div>
        <div class="card-body">
        {% for key, value in result_powstancow.items %}
            {% if key != 'update' and key != 'name' %}
                <p class="card-text" style="background-color:{% my_tag key value 'color' %};">{% my_tag key value 'disc' %} - {{value}} µg/m<sup>3</sup> {% my_tag key value 'quality' %} </p>
            {% endif %}
        {% endfor %}
        </div>
        {% for key, value in result_powstancow.items %}
            {% if key == 'update' %}
            <div class="card-footer text-muted">
                Aktualizacja: {{value|time}}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
 <footer>
  <p style="text-align: center; font-size: 10px;">Wszystkie dane pochodzą z: <a href="http://aqicn.org" target="_blank">
  http://aqicn.org/</a></p>
</footer>
</body>
</html>