<!DOCTYPE html>
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}
{% csrf_token %}
<html>
    <head>
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="{% static '/js/change_div.js' %}"></script>
        <script src="{% static '/js/parallax.js' %}"></script>
    </head>
    <body>
    <div>
        <section class="bgnd bgnd-1 js-parallax-bg">
            <div class="page-header">
                <div align="center">
                     <div class="btn-group">
                          <form>
                              <input class="button" type="button" value="PL" onclick="window.location.href={% url 'base_pl' %}" />
                              <input class="button" type="button" value="EN" onclick="window.location.href={% url 'base' %}" />
                          </form>
                     </div>
                </div>
            </div>
        </section>
            {% for p in posts %}
                    {% if  p.id == 4 %}
                        <div class="text" style="display: flow-root;">
                            {% if request.user_agent.is_pc %}
                                <p style="float: right;"><img src="{% static '/images/self_s.jpg' %}"></p>
                            {% endif %}
                            <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                            <p style="color: black; text-align: center">{{ p.text|linebreaks }}</p>
                            <table class="skills" >
                                <tr>
                                    <th>
                                    Angielski:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                    <th style="padding:0 0 0 1em">
                                        Python:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                    Django:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                    <th style="padding:0 0 0 1em">
                                    HTML:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                    CSS:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                    <th style="padding:0 0 0 1em">
                                    SQL:</th>
                                    <th>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-2 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if p.id == 5 %}
                        <div class="text">
                          <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                          <p style="color: black; text-align: center">{{ p.text }}</p>
                          <center><img src="https://www.codewars.com/users/adrianwizowski/badges/large" align="middle"></center>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-3 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if  p.id == 6 %}
                        <div class="text">
                            <div class="btn-bottom-group" id="bottom">
                                <form>
                                    <input class="btn-bottom" type="button" value="PayPal" onclick="window.location.href={% url 'donation' %}"/>
                                    <input class="btn-bottom" type="button" value="Air" onclick="window.location.href={% url 'air' %}"/>
                                    <a href="{% provider_login_url "facebook" %}" class="btn-bottom" >Facebook</a>
                                    <input class="btn-bottom" type="button" value="GitHub" onclick="window.open('https://github.com/adrianwizowski/WebSite', '_blank')" />
                                    <input class="btn-bottom" type="button" value="CodeWars" onclick="window.open('https://www.codewars.com/users/adrianwizowski', '_blank')" />
                                </form>
                             </div>
                            <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                            <p style="color: black; text-align: center">{{ p.text|linebreaks }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
        {% if request.user_agent.is_pc %}
            <div class="container-floating" id="hide">
                <form>
                    <div id="change1">
                        <input class="button" type="button" value="Air" onclick="window.location.href={% url 'air' %}" />
                    </div>
                    <div id="change2">
                        <a href="{% provider_login_url "facebook" %}" class="button" >Facebook</a>
                    </div>
                    <div id="change3">
                        <input class="button" type="button" value="GitHub" onclick="window.open('https://github.com/adrianwizowski/WebSite', '_blank')" />
                    </div>
                    <div id="change4">
                        <input class="button" type="button" value="CodeWars" onclick="window.open('https://www.codewars.com/users/adrianwizowski', '_blank')" />
                    </div>
                    <div id="change5">
                        <input class="button" type="button" value="PayPal" onclick="window.location.href={% url 'donation' %}" />
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    </body>
</html>

