<!DOCTYPE html>
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}
<html>
    <head>
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="{% static '/js/change_div.js' %}"></script>
        <script src="{% static '/js/parallax.js' %}"></script>
    </head>
    <body>
    <div>
        <section class="bgnd bgnd-1 js-parallax-bg">
            <div class="page-header">
                <div align="center">
                     <div class="btn-group">
                          <form>
                              <input class="button" type="button" value="PL" onclick="window.location.href={% url 'base_pl' %}" />
                              <input class="button" type="button" value="EN" onclick="window.location.href={% url 'base' %}" />
                          </form>
                     </div>
                </div>
            </div>
        </section>
            {% for p in posts %}
                    {% if  p.id == 4 %}
                        <div class="text" style="display: flow-root;">
                            <p style="float: right;"><img src="{% static '/images/self_s.jpg' %}"></p>
                            <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                            <p style="color: black; text-align: center">{{ p.text|linebreaks }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-2 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if p.id == 5 %}
                        <div class="text">
                          <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                          <p style="color: black; text-align: center">{{ p.text }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-3 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if  p.id == 6 %}
                        <div class="text">
                            <div class="btn-bottom-group" id="bottom">
                                <form>
                                    <input class="btn-bottom" type="button" value="PayPal" onclick="window.location.href={% url 'donation' %}"/>
                                    <a href="{% provider_login_url "facebook" %}" class="btn-bottom" >Facebook</a>
                                    <input class="btn-bottom" type="button" value="GitHub" onclick="window.open('https://github.com/adrianwizowski/WebSite', '_blank')" />
                                </form>
                             </div>
                            <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                            <p style="color: black; text-align: center">{{ p.text|linebreaks }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
        {% if request.user_agent.is_pc %}
            <div class="container-floating" id="hide">
                <form>
                    <div id="change1">
                        <input class="button" type="button" value="PayPal" onclick="window.location.href={% url 'donation' %}" />
                    </div>
                    <div id="change2">
                        <a href="{% provider_login_url "facebook" %}" class="button" >Facebook</a>
                    </div>
                    <div id="change3">
                        <input class="button" type="button" value="GitHub" onclick="window.open('https://github.com/adrianwizowski/WebSite', '_blank')" />
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    </body>
</html>

