<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap-theme.css' %}">
        <script src="{% static '/css/bootstrap.js' %}"></script>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div>
            <section class="bgnd bgnd-1 js-parallax-bg">
                <div class="page-header">
                    <div align="center">
                         <div class="btn-group">
                              <form>
                                  <input class="button" type="button" value="PL" onclick="window.location.href={% url 'base_pl' %}" />
                                  <input class="button" type="button" value="EN" onclick="window.location.href={% url 'base' %}" />
                              </form>
                         </div>
                    </div>
                </div>
            </section>
            {% for p in posts %}
                    {% if  p.id == 1 %}
                        <div class="text">
                          <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                          <p style="color: black; text-align: center">{{ p.text }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-2 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if p.id == 2 %}
                        <div class="text">
                          <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                          <p style="color: black; text-align: center">{{ p.text }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            <section class="bgnd bgnd-3 js-parallax-bg">
            </section>
            {% for p in posts %}
                    {% if  p.id == 3 %}
                        <div class="text">
                          <h1 style="color: black; text-align: center">{{ p.title }}</h1>
                          <p style="color: black; text-align: center">{{ p.text }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        {% if request.user_agent.is_pc %}
            <div class="container-floating">
                <div class="stars">
                  <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
            </div>
        {% endif %}
    </body>
</html>

